# Copier ce fichier en .env et remplir les valeurs

MONGO_USER=admin
MONGO_PASSWORD=change_me
RABBITMQ_USER=btp
RABBITMQ_PASSWORD=change_me
JWT_SECRET=change_me_with_a_long_random_secret_at_least_256_bits

SPRING_MAIL_HOST=mailhog
SPRING_MAIL_PORT=1025
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
